html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

*:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.process__media {
  display: grid;
  grid-template-areas:
    "project-1"
    "project-1"
    "project-2";
  height: 700px;
  grid-gap: 10px;
}
@media screen and (min-width: 992px) {
  .process__media {
    height: 700px;
    grid-template-columns: 40% auto;
    grid-template-areas:
      "project-1 project-2 project-2"
      "project-1 project-2 project-2";
  }
}
.process__media--1,
.process__media--2 {
  background-repeat: no-repeat;
  background-size: cover;
}
.process__media--1 {
  grid-area: project-1;
  background-image: url("../../img/grid-1.jpg");
}
.process__media--2 {
  grid-area: project-2;
  background-image: url("../../img/grid-2.jpg");
}

.process__content {
  padding: 3rem 0;
}
@media screen and (min-width: 992px) {
  .process__content {
    padding: 4rem 0;
  }
}
.process__content__heading {
  display: flex;
  align-items: center;
}
.process__content__heading h4 {
  font-weight: bolder;
  font-size: 2.18rem;
  margin-right: 1rem;
}
.process__content__heading .line {
  height: 3px;
  width: 80px;
  border-radius: 5px;
  display: block;
  background-color: #000;
}
